@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  background-color: #2e3338;
}
html::-webkit-scrollbar-thumb {
  background-color: #101011;
  border-radius: 5px;
}

body,
html {
  background-color: #202225;
  scroll-behavior: smooth;
}
