@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

*::selection {
  background-color: #3791db;
  color: rgb(218, 218, 218);
}

html::-webkit-scrollbar {
  background-color: #2e3338;
}
html::-webkit-scrollbar-thumb {
  background-color: #101011;
  border-radius: 5px;
}

body,
html {
  background-color: #202225;
  scroll-behavior: smooth;
}
